{% load gallery_extras %}{% load tz %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="same-origin">
    <title>{{ gallery.name }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{ gallery.name }}</h1>

        {% if entries %}
            <div class="gallery-entries">
                {% for entry in entries %}
                    <div class="entry-container mb-4">
                        <div class="row">
                           <div class="col-md-9 text-end">
                                {% if entry.width and entry.height %}
                                    {% scale_dimensions entry.width entry.height 800 as scaled %}
                                    <img src="media/{{ entry.filename }}" 
                                         alt="{{ entry.basename }}" 
                                         width="{{ scaled.width }}"
                                         height="{{ scaled.height }}"
                                         class="img-fluid thumbnail"
                                         loading="lazy"
                                         {% if entry.has_video %}
                                         data-has-video="true" 
                                         data-video-filename="{{ entry.video_filename }}"
                                         {% endif %}>
                                {% else %}
                                    <img src="media/{{ entry.filename }}" 
                                         alt="{{ entry.basename }}" 
                                         {% if entry.has_video %}
                                         data-has-video="true" 
                                         data-video-filename="{{ entry.video_filename }}"
                                         {% endif %}>
                                {% endif %}
                            </div>
                            <div class="col-md-3">
                                <div class="h4">{% if entry.timestamp %}
                                  {{ entry.timestamp|timezone:"Europe/Amsterdam" }}
                                  {% else %}
                                  ~~~
                                  {% endif %}
                                  {% if entry.has_video %}
                                    ⏵
                                  {% endif %}
                                </div>
                                <div>{{ entry.caption|markdown_to_html }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">No entries in this gallery.</div>
        {% endif %}
    </div>

    <script src="js/gallery.js"></script>
</body>
</html>
