{% load gallery_extras %}{% load tz %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="same-origin">
    <title>{{ gallery.name }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/gallery.css" rel="stylesheet">
    {% if gallery.og_image and gallery.og_url %}
      <meta property="og:title" content="{{ gallery.name }}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{  gallery.og_url }}" />
      <meta property="og:image" content="{{ gallery.og_image }}" />
    {% endif %}
</head>
<body>
    <div class="container">
        <h1>{{ gallery.name }}</h1>

        {% if entries %}
            <div class="gallery-entries">
                {% for entry in entries %}
                    <div class="entry-container mb-4" {% if testing %}
                      data-entry-id="{{ entry.id }}"
                    {% endif %}>
                        <div class="row flex align-items-start">
                            <div class="h5 entry-timestamp entry-timestamp-narrow">
                              {% if entry.timestamp %}
                              {{ entry.timestamp|timezone:"Europe/Amsterdam" }}
                              {% else %}
                              ~~~
                              {% endif %}
                              {% if entry.has_video %}
                                <span class="video-indicator">&nbsp;⏵</span>
                              {% endif %}
                            </div>
                           <div class="col-md-9 d-flex align-items-end">
                                <div class="flex-fill"></div>
                                {% scale_dimensions entry.width entry.height 800 as scaled %}
                                <img src="media/{{ entry.filename }}"
                                     width="{{ scaled.width }}"
                                     height="{{ scaled.height }}"
                                     class="img-fluid thumbnail"
                                     loading="lazy"
                                     {% if entry.has_video %}
                                     data-has-video="true"
                                     data-video-filename="media/{{ entry.video_filename }}"
                                     {% endif %}>
                            </div>
                            <div class="col-md-3">
                                <div class="h5 entry-timestamp entry-timestamp-wide">
                                  {% if entry.timestamp %}
                                  {{ entry.timestamp|timezone:"Europe/Amsterdam" }}
                                  {% else %}
                                    ~~~
                                  {% endif %}
                                  {% if entry.has_video %}
                                    <span class="video-indicator">&nbsp;⏵</span>
                                  {% endif %}
                                </div>
                                <div class=caption>{{ entry.caption|markdown_to_html }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">No entries in this gallery.</div>
        {% endif %}
    </div>

    <script src="js/gallery.js"></script>
</body>
</html>
